<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">
    {#  TODO: link to home page  #}
    <a class="navbar-brand" href="">
      <i class="bi bi-briefcase-fill text-primary"></i>
      <span class="fw-bold">StartJob</span>
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          {#  TODO: link to home page  #}
          <a class="nav-link active" href="">Home</a>
        </li>
        <li class="nav-item">
          {#  TODO: link to jobs list page  #}
          <a class="nav-link" href="">Jobs</a>
        </li>
        <li class="nav-item">
          {#  TODO: link to companies list page  #}
          <a class="nav-link" href="">Companies</a>
        </li>
      </ul>
      <div class="d-flex ms-lg-3">
        <a href="{% url 'accounts:login' %}"
           class="btn btn-outline-primary me-2">Login</a>
        <a href="{% url 'accounts:register' %}" class="btn btn-primary">Register</a>
      </div>
    </div>
  </div>
</nav>
