{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        {{ title|default:'Start Job' }}
      {% endblock title %}
    </title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}" />
    <!-- Bootstrap icons -->
    <link rel="stylesheet"
          href="{% static 'vendor/css/bootstrap-icons.min.css' %}" />
    {% htmx_script %}
    {% block head %}
    {% endblock head %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block body %}
    {% endblock body %}
    {% block javascript %}
    {% endblock javascript %}
    <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
