{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ title|default:"Job Portal" }}{% endblock title %}</title>

  <!-- Bootstrap css  -->
  <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
  {% if debug  %}
  <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css.map' %}">
  {% endif %}
  <!-- Bootstrap icons  -->
  <link rel="stylesheet" href="{% static 'vendor/css/bootstrap-icons.min.css' %}">
  {% block head %}{% endblock head %}
</head>
<body>
  {% block body %}{% endblock body %}
  <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
